.import-modal .modal-header {
  background: #2aa7e0 !important;
  padding: 10px 10px !important;
  justify-content: center !important;
}

.import-modal .modal-title {
  font-size: 14px !important;
}

.import-modal .btn-close {
  background-color: aliceblue;
  border-radius: 56% !important ;
  font-size: 7px;
}
.import-modal .modal-title {
  color: #ffffff !important;
}

.import-modal .import-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px !important;
}

.import-modal .content-container {
  background-color: white !important;
  padding: 10px 10px !important;
  height: 40vh;
}

.import .fields-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}

.import-modal .fields-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.import-modal .fields-wrapper label {
  font-size: 13px;
}

.import-modal .fields-wrapper div input {
  width: 90%;
  padding: 0.25rem !important;
}

.import-modal .import-modal-bottom-container {
  display: flex !important;
  justify-content: flex-end !important;
}

.import-modal .cancel-button {
  background-color: #2aa7e0 !important;
  border: none;
  color: white !important;
  padding: 7px 15px !important;
  margin-left: 10px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.import-modal .next-button {
  background-color: #91c6df !important;
  border: none;
  color: white !important;
  padding: 7px 15px !important;
  margin-left: 10px !important;
  border-radius: 4px !important;
  cursor: default !important;
  border-radius: 4px !important;
  border-color: #838383 !important;
}
