
.import-modal .modal-header {
    background: #323030 !important;
    padding: 10px 10px !important;
    justify-content: center !important;
  }

  .import-modal .modal-title {
    font-size: 14px !important;
  }



  .import-modal  .btn-close {
  background-color: aliceblue;
  border-radius: 56% !important ;
  font-size: 7px;
}
.import-modal .modal-title {
  color: #ffffff !important;
}

.import-modal .import-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px !important;
}

.import-modal .content-container {
  padding: 10px 10px !important; 
  height: 40vh;

}




.import .fields-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}

.import-modal .fields-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.import-modal .fields-wrapper label {
  font-size: 13px;
}

.import-modal .fields-wrapper div input {
  width: 90%;
  padding-left: 5px;
}



.import-modal .import-modal-bottom-container{
  display: flex !important;
  justify-content: flex-end !important;
 }

 .import-modal  .cancel-button {
  background-image: linear-gradient(#eeeeee, #bababa) !important;
  padding: 2px 20px !important;
  margin-left: 10px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  color: #000000 !important;
  border-color: #838383 !important;
}

.import-modal  .next-button {
  background: #eeeeee !important;
  padding: 2px 24px !important;
  margin-left: 10px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  border-radius: 4px !important;
  color: #838383 !important;
  border-color: #838383 !important;
} 

