.grid-container {
  display: grid;
  grid-template-columns: 251px 1fr; /* Sidebar takes 200px, the rest is for the main content */
  height: 100vh;
  margin-top: 25px
}

.sidebar {
  /* background-color: #2196F3; */
}

.main-content {
  /* background-color: red;  */
 /* Add padding to the main content if needed */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Set your desired background color for the header */
  z-index: 1000; /* Set a high z-index to ensure the header appears above other elements */
}