.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: url(../../images/network.jpg) no-repeat fixed center;
  background-size: cover;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  min-height: 80%;
  flex-basis: 85%;
  border-radius: 1rem;
  background: url(../../images/outerContainer.jpg) no-repeat fixed center;
  background-size: cover;
}

.navbar {
  flex-basis: 20%;
  width: 100%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}
.logo {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}
.links {
  flex-basis: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.linksContent {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.linksContent:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menubar:hover {
  cursor: pointer;
}
.mainSection {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* padding-bottom: 3rem; */
  /* width: 50%; */
}

.heading {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0px;
}

.subHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.para {
  word-wrap: break-word;
  margin: 20px 5px;
  font-size: 1rem;
}

.showModalButton {
  border: none;
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  color: rgb(42, 167, 224);
  font-weight: 600;
}
