.preference-modal {
  min-width:700px !important
}
.preference-modal .preference-header {
    background: #323030 !important;
    padding: 10px 10px !important;
    justify-content: center !important;
  }

  .preference-modal .modal-title {
    font-size: 14px !important;
  }

  .preference-modal .modal-content{
    background-color:#d8d8d8 ;

   }

  .preference-modal  .btn-close {
  background-color: aliceblue;
  border-radius: 56% !important ;
  font-size: 7px;
}
.preference-modal .modal-title {
  color: #ffffff !important;
}

.preference-modal .nav-pills .nav-link{
   
    color:  #555;
    border-radius: 0;
    padding: 2px 0px 2px 8px;
    font-size: 14px;
}

.preference-modal .nav-pills .nav-item .nav-link.active {
  color: white !important;
  background-color: #3838c8;
}
.preference-modal .col-sm-3
{
  padding: 0;
  width: 23% !important;
}

.preference-modal .preference-modal-bottom-container{
  display: flex !important;
  justify-content: flex-end !important;
 }

 .preference-modal  .cancel-button {
  background-image: linear-gradient(#eeeeee, #bababa) !important;
  padding: 2px 20px !important;
  margin-left: 10px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  color: #000000 !important;
  border-color: #838383 !important;
}

.preference-modal  .next-button {
  background: #eeeeee !important;
  padding: 2px 24px !important;
  margin-left: 10px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  color: #838383 !important;
  border-color: #838383 !important;
} 

/* privacy screen styles */

.privacy-screen {
  margin-top: 10px;
}

.privacy-checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.privacy-checkbox-container-last{
  display: flex;
  align-items: center; 
}

.privacy-custom-checkbox {
  margin-right: 8px;
}
.privacy-custom-checkbox:checked {
  background-color: #fff !important;
}

.privacy-label-text {
  font-size: 13px;
}
.privacy-policy-link {
  font-size: 12px;
  margin-left: 21px;
}
  
/* inside border label styles */
.privacy-border-container {
  position: relative;
  border: 0.2px solid #a5a5a5;
  padding: 20px; 
  width: 99%; 
  margin-bottom: 8px;
  margin-top: 14px;
 
}

.privacy-border-label {
  position: absolute;
  top: -10px; 
  left: 10px; 
background-color: #d8d8d8 ;
  padding: 0 5px; 
  font-size: 13px; 
  font-weight: 300;
}
  .inside-border-paragraph{
  font-size: 13px;
  font-weight: 350;
} 


.privacy-button-contanier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.master-password-btn {
  background: #eeeeee !important;
  padding: 3px 3px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  color: #838383 !important;
  border-color: #838383 !important;
  font-size: 12px;
  margin-right: 8px !important;
}
.minutes-disabled-class {
  font-size: 13px;
 color: #808080;
margin-left: 21px;
}
.password-input{
  border: 0.2px solid #a5a5a5;
  background-color: #d8d8d8;
  font-size: 14px;
  margin-left: 21px;
}

.privacy-last-border-container {
  position: relative;
  border: 0.2px solid #a5a5a5;
  padding: 20px; 
  width: 99%; 
  margin-top: 20px;
  margin-bottom: 10px;
}
.forget-button{
  background-image: linear-gradient(#eeeeee, #bababa) !important;
  padding: 2px 5px !important;
   font-size: 13px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  color: #808080 !important;
  border-color: #838383 !important;
}
.appearance-checkbox-container{
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.printing-checkbox-container{
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: 8px;
}
.printing-paragraph{
  font-size: 13px;
 
}

/* expert screen styles */


 .expert-screen .label-input-class{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 14px;
  color: #555;
}
.expert-screen .label-input-dropdown{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 14px;
}

.expert-screen .label-input-dropdown label {
  font-size: 12px;
  color:  #555;
  font-weight: 400;
}
/* .simple-input {
  border: 0.5px solid #ccc; 
  box-shadow: none;
  padding: 0px;
} */
 .expert-screen .simple-input {
  border: 1px solid #ccc;
  box-shadow: none;
  padding: 4px; 
  margin-top: 5px; 
  font-size: 12px; 
}
 .expert-screen .simple-input::placeholder {
  font-size: 12px; 
}

 .expert-screen   .label-input-class label {
  font-size: 12px;
  font-weight: normal;
  columns: #555 !important;
}







.expert-screen select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  /* background: #5c6664; */
  background: #fff;
  flex: 1;
  padding: 0 .5em;
  color:black;
  cursor:pointer;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
 .expert-screen select::-ms-expand {
  display: none;
}
.expert-screen .select {
  position: relative;
  display: flex;
  width: 20em;
  /* height: 1.5em; */
  height: 24px;
  /* line-height: 3; */
  line-height: 25px;
  /* background: #5c6664; */
  overflow: hidden;
  border-radius: .21em;
}
 .expert-screen .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background-color:#bdbdbd;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
  
}
.expert-screen .select:hover::after {
  /* color: #23b499; */
}

 .expert-screen .label-input-dropdown-value {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

 .expert-screen .label-input-dropdown-value label {
  font-size: 12px;
  font-weight: 400;
  width: 55px;

  display: flex;
  justify-content: center;
  color:  #555;
}

 .expert-screen .label-input-dropdown-value .form-group {
  flex-grow: 1;
  margin-right: 9px;
}

 .expert-screen .label-input-dropdown-value .select {
  width: 100%;
}

 .expert-screen .app-preference-btn {
  background: #eeeeee !important;
  padding: 2px 3px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  color: #838383 !important;
  border-color: #838383 !important;
  font-size: 12px;
  margin-right: 8px !important;
}
 .expert-screen .label-class-expert {
  margin-bottom: 8px;
}

.expert-screen .label-class-expert label {
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
  color: #555;

}

 .expert-screen .span-custom-text {
  margin-left:12px; 
  color: #555; 
}

 .expert-screen .yellow-bg {
  background-color:#ffffd3;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 8px;
}

 .expert-screen .setting-icon {
  background-color:#1abb1e;
  color: #f7fdf7;
  padding: 5px;
  border-radius: 50%; 
  margin-right: 10px; 
  font-size: 20px;
}

 .expert-screen .icon-text {
  display: flex;
  align-items: center;
  color: #555;
  font-size: 12px;
  font-weight: 400;
}
 .expert-screen .paragraph-styles {
  color: #555;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  margin: 8px;
}
 .expert-screen .anchor-tag-style{
  font-size: 12px;
  font-weight: 400;
  margin: 8px;
}

.expert-screen  .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.expert-screen .content {
  flex: 1;
  overflow-y: auto;
  min-height: 100px;
  border: 1px solid;
  padding: 5px;

}
 .expert-screen .wrapContent {
  display: table;
  width: 100%;
}
.expert-screen  .wrapContent > div {
  display: table-cell;
}
 .expert-screen .leftContent,
.rightContent {
  width: 50%;
  font-size: 12px;
  color: #555;
}
 .expert-screen .divider {
  border-left: 1px solid #555;
  padding-left: 7px;
}


/* proxy styles */

.proxy-screen{
  margin-top: 10px;
}

.proxy-label-text {
  font-size: 13px;
}
.proxy-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.proxy-custom-radio {
  margin-right: 8px;
}



.proxy-screen .label-input-class{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 14px;
  color: #555;
}
.proxy-screen .label-input-dropdown{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 14px;
}

.proxy-screen .label-input-dropdown label {
  font-size: 12px;
  color:  #555;
  font-weight: 400;
}
 .proxy-screen .simple-input {
  /* border: 1px solid #ccc; */
  box-shadow: none;
  padding: 4px; 
  margin-top: 5px; 
  font-size: 12px; 
  border: 0.2px solid #a5a5a5;
  background-color: #d8d8d8;
}
 .proxy-screen .simple-input::placeholder {
  font-size: 12px; 
}

 .proxy-screen   .label-input-class label {
  font-size: 12px;
  font-weight: normal;
  columns: #555 !important;
}







.proxy-screen select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  background-color: #d8d8d8;
  border: 0.2px solid #a5a5a5 !important;
  flex: 1;
  padding: 0 .5em;
  color:black;
  cursor:pointer;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
 .proxy-screen select::-ms-expand {
  display: none;
}
.proxy-screen .select {
  position: relative;
  display: flex;
  width: 22em;
  height: 24px;
  line-height: 25px;
  overflow: hidden;
  border-radius: .21em;
}
 .proxy-screen .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background-color:#bdbdbd;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
  
}
.proxy-screen .select:hover::after {
  /* color: #23b499; */
}

 .proxy-screen .label-input-dropdown-value {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

 .proxy-screen .label-input-dropdown-value label {
  font-size: 12px;
  font-weight: 400;
  width: 55px;

  display: flex;
  justify-content: center;
  color:  #555;
}

 .proxy-screen .label-input-dropdown-value .form-group {
  flex-grow: 1;
  margin-right: 9px;
}

 .proxy-screen .label-input-dropdown-value .select {
  width: 100%;
}


/* Recording styles */

.recording-p {
  font-size: 13px;
  margin-top: 12px;
  margin-bottom: -11px;
}


.recording-btn-container{
  margin-top: 7%;
}
.folder-button {
  background-image: linear-gradient(#eeeeee, #bababa) !important;
    padding: 2px 3px !important;
    margin-left: 10px !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    color: #000000 !important;
    border-color: #838383 !important;
    font-size: 12px;
}


.refresh-button {
  background: #eeeeee !important;
  font-size: 12px;
  padding: 2px 3px !important;
  margin-left: 10px !important;
  cursor: pointer !important;
  border-radius: 4px !important;
  color: #838383 !important;
  border-color: #838383 !important;
} 


/* trouble shoot styles */


.trouble-screen{
 margin-top: 8px;
}
.trouble-label-text{
  font-size: 13px;
}
.trouble-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.trouble-custom-radio {
  margin-right: 8px;
}
.trouble-input-style{
  margin-top: 6px;
}
 .trouble-input-style::placeholder {
  font-size: 12px !important; 
}
.trouble-p{
  font-size: 13px;
  margin-top: 19px;
  margin-bottom: -13px;
}


.trouble-btn-container{
  margin-top: 7%;
}
.trouble-folder-btn {
  background-image: linear-gradient(#eeeeee, #bababa) !important;
    padding: 2px 3px !important;
    margin-left: 10px !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    color: #000000 !important;
    border-color: #838383 !important;
    font-size: 12px;
}

