
.home-page {
    display: flex; 
  }

  /* Style for the left sidebar */
  .side-bar {
    width: 200px; /* Set the width of the sidebar according to your design */
    background-color:#333; /* Set the background color */
    color: white; /* Set the text color */
  }

  .modal-header {
    background: #323030 !important;
    padding: 5px 12px !important;
    justify-content: center !important;
  }

  .modal-title {
    font-size: 16px !important;
  }

  .modal-header .btn-close {
    position: absolute;
}

.modal-title {
  color: #ffffff !important;
}

.signin-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
}

.signin-wrapper p {
  margin: 0 !important;
  font-size: 15px;
  font-weight: 500;
}

hr {
  margin: 0 !important;
  border-color: #323030 !important;
  opacity: 1.25;
}

.content-container {
  padding: 15px 25px;
  background: #d8d8d8 !important;
}

.signin-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.signin-heading p {
  margin: 0 !important;
  width: 90%;
  font-size: 14px;
}

.signin-heading span {
  font-size: 14px;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
}

.fields-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields-wrapper label {
  font-size: 14px;
}

.fields-wrapper div input {
  width: 90%;
  padding-left: 5px;
}

.forget-pass {
  float: right;
}

.forget-pass a {
  color: blue !important;
  text-decoration: underline !important;
  cursor: pointer;
  font-size: 14px;
}

.or {
  margin-top: 35px;
  text-align: center;
}

.signin-btn {
  width: 100%;
  margin-top: 10px;
  background-image: linear-gradient(#eeeeee, #bababa);
  font-size: 14px;
  padding: 3px 0px;
  margin-bottom: 60px;
}

.modal-footer {
  justify-content: space-between !important;
  background: #d8d8d8 !important;
  border: none !important;
  padding: 5px 21px !important;
}

.modal-footer a {
  text-decoration: underline !important;
  color: blue !important;
  font-size: 14px;
}

.btn-secondary {
  background-image: linear-gradient(#eeeeee, #bababa);
  font-size: 14px !important;
  padding: 2px 15px !important;
  border-radius: 4px !important;
  color: black !important;
  margin-right: 10px;
}

.btn-primary {
  background: #eeeeee !important;
  font-size: 14px !important;
  padding: 2px 15px !important;
  border-radius: 4px !important;
  color: #838383 !important;
  border-color: #838383 !important;
}
  /* Style for the right content
  */

  /* Center the child div inside the content area */
  /* .parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Make it take the full height of the content area */



